body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #ffffff;
}

.link {
    text-decoration: none;
    color: #2E2F42;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

li {
    list-style-type: none;
}

/* Header */

.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-span {
    color: #2E2F42;
}

.header {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.nav-list {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.nav-link {
    display: flex;
    align-items: center;
}

.link{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
    font-style: normal;
}

.link:hover {
    color: #404BBF;
}

.link:active {
    color: #404BBF;
}

.link:focus {
    color: #404BBF;
}

.contact-info {
    font-style: normal;
    display: flex;
    align-items: center;
}

.contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contact:hover {
    color: #404BBF;
}

.contact:focus {
    color: #404BBF;
}

/* Effective solutions */

.solutions {
    background-color: #2e2f42;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}

.solutions-conteiner {
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 48px;
    margin-top: 0;
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 4px;
    border: none;
    background-color: #4d5ae5;
}

.button:hover {
    background: #404BBF;
}

.button:focus {
    color: #404BBF;
}

/* Our advantages */

.advantages-conteiner {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    position: relative;
}

.advantages-conteiner ul {
    display: flex;
    padding-left: 0;
}

.advantages {
    background-color: #FFFFFF;
    width: auto;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.advantages-conteiner li {
    margin-left: 12px;
    margin-right: 12px;
}

.advantages-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

.advantages-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 8;
    margin-bottom: 0;
    text-align: left;
}

/* Our Team */

.our-team {
    background-color: #F4F4FD;
    width: auto;
    align-content: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-conteiner ul {
    display: flex;
    padding-left: 0;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-top: 32px;
    margin-bottom: 8px;
}

.team-list-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-top: 0;
    margin-bottom: 32px;
}

.team-conteiner ul {
    margin-top: 0;
    margin-bottom: 0;
}

.team-list {
    width: 264px;
    height: 380px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-top: 0;
    margin-bottom: 72px;
}


/* Our portfolio */

.our-portfolio {
    background-color: #FFFFFF;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1440px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-top: 0;
    margin-bottom: 72px;
}


.portfolio-conteiner {
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 1128px;
    position: relative;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: flex-start;
    gap: 48px 24px;
    margin-top: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.portfolio-conteiner li {
    border: 1px solid #e7e9fc;
    width: 360px;
    height: 420px;
}

.portfolio-conteiner img {
    width: 360px;
    height: 300px;
}

.portfolio-items-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-top: 32px;
    margin-bottom: 8px;
    margin-left: 16px;
}

.portfolio-items-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    margin-top: 0;
    margin-bottom: 32px;
    margin-left: 16px;
}

/* Footer */

.footer-cont {
    background-color: #2e2f42;
    width: auto;
    padding-top: 100px;
    padding-left: 156px;
    padding-bottom: 100px;
}

.footer-cont .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-cont .logo-span {
    color: #f4f4fd;
}

.footer-info {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}